<div class="product" fxLayout="column" fxLayoutAlign="start start">
    <div class="product-img-container">
        <img src="../../../../assets/img/test-product.webp" alt="">
        <div class="promo" fxLayout="column" fxLayoutAlign="center start">
            <p class="promo-text">TIẾT KIỆM</p>
            <p class="promo-saved-money">991.000 đ</p>
        </div>
        <div class="gift">
            <img src="../../../../assets/img/gift-icon.png" alt="">
        </div>
    </div>
    <div class="product-name">
        RAM desktop APACER DDR4 8G 3200 OC NOX RGB AURA 2 (1 x 8GB) DDR4 3200MHz (AH4U08G32C28YNBAA-1)
    </div>
    <div class="product-price" fxLayout="row" fxLayoutAlign="space-between center" >
        <p class="price">4.999.999 đ</p>
        <img src="../../../../assets/img/freeship.png" alt="">
    </div>
    <div class="product-cost" fxLayout="row">
        <p class="cost">5.999.999 đ</p>
        <p class="discount">18.05%</p>
    </div>
</div>