<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container" fxLayout="column" fxLayoutAlign=" center start">
    <!-- <div class="beadscrum">
        <a href="/">Trang chủ</a>
        <p>/</p>
        <a href="/cart"> Giỏ hàng </a>
    </div> -->
    
    <div class="cart-container" fxLayout="row" fxLayoutAlign="center start">
        <div class="cart-product" fxFlex="58">
            <div class="cart-title" fxLayoutAlign="space-between center">
                <h2>Giỏ hàng</h2>
                <p>Xóa tất cả</p>
            </div>
            <div class="list-product" fxLayout="column">
                <div class="list-product-title" fxLayout="row">
                    <mat-checkbox class="title-select-all" fxFlex="55"><span class="checkbox-label">CHỌN TẤT CẢ</span></mat-checkbox>
                    <p fxFlex="15">Đơn giá</p>
                    <p fxFlex="15">Số lượng</p>
                    <p fxFlex="15">Thành tiền</p>
                </div>
                <div class="product" fxLayout="row">
                    <div class="product-select" fxFlex="5">
                        <mat-checkbox class="product-checkbox"></mat-checkbox>
                    </div>
                    <div class="product-image" fxFlex="15"><img src="../../../assets/img/Product/phone-1-a.webp" alt=""></div>
                    <div class="product-name" fxFlex="35" fxLayout="column">
                        <p class="name">Màn hình LCD PHILIPS 242M8 (1920 x 1080/IPS/144Hz/1 ms/FreeSync)</p>
                        <p class="code">SKU: 2202221332</p>
                    </div>
                    <div class="product-cost" fxFlex="15" fxLayout="column">
                        <p class="cost">4.990.000 đ</p>
                        <p class="base-cost">5.290.000 đ</p>
                    </div>
                    <div class="product-amount" fxFlex="15" fxLayout="column">
                        <input matInput type="number" value="1" min="0" max="9">
                        <p>Xóa</p>
                    </div>
                    <div class="product-price" fxFlex="15" fxLayout="column">
                        <p>4.990.000 đ</p>
                    </div>
                </div>
                <div class="product" fxLayout="row">
                    <div class="product-select" fxFlex="5">
                        <mat-checkbox class="product-checkbox"></mat-checkbox>
                    </div>
                    <div class="product-image" fxFlex="15"><img src="../../../assets/img/Product/phone-1-a.webp" alt=""></div>
                    <div class="product-name" fxFlex="35" fxLayout="column">
                        <p class="name">Màn hình LCD PHILIPS 242M8 (1920 x 1080/IPS/144Hz/1 ms/FreeSync)</p>
                        <p class="code">SKU: 2202221332</p>
                    </div>
                    <div class="product-cost" fxFlex="15" fxLayout="column">
                        <p class="cost">4.990.000 đ</p>
                        <p class="base-cost">5.290.000 đ</p>
                    </div>
                    <div class="product-amount" fxFlex="15" fxLayout="column">
                        <input matInput type="number" value="1" min="0" max="9">
                        <p>Xóa</p>
                    </div>
                    <div class="product-price" fxFlex="15" fxLayout="column">
                        <p>4.990.000 đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="25">
            <div class="location"  fxLayout="column">
                <div class="location-title" fxLayoutAlign="start center">
                    <h3>Địa chỉ giao hàng</h3>
                </div>
                <mat-radio-group class="location-group" aria-label="Chọn địa chỉ giao hàng" fxLayout="column">
                    <div class="locate-selection" fxLayout="row" >
                        <mat-radio-button value="1">
                        </mat-radio-button>
                        <div class="customer-info" fxLayout="column">
                            <div class="location-line receiver">
                               <span class="name">Nguyễn Minh Luân</span>
                               <span class="default-address">Mặc định</span>
                            </div>
                            <div class="location-line">
                                <span>0378367310</span>
                                <span class="divide">|</span>
                                <span class="customer-location locate">Địa chỉ: Số 35, ấp 2, xã Châu Bình, huyện Giồng Trôm, tỉnh Bến tre</span>
                            </div>
                        </div>
                    </div>
                    <div class="locate-selection" fxLayout="row" >
                        <mat-radio-button value="2">
                        </mat-radio-button>
                        <div class="customer-info" fxLayout="column">
                            <div class="location-line receiver">
                               <span class="name">Nguyễn Minh Luân</span>
                               <span class="divide">|</span>
                               <span class="phone">0378367310</span>
                            </div>
                            <div class="location-line locate">Địa chỉ: <span class="customer-location">Số 35, ấp 2, xã Châu Bình, huyện Giồng Trôm, tỉnh Bến tre</span></div>
                        </div>
                    </div>
                  </mat-radio-group>
                <div class="button-container">
                    <button mat-button color="primary" class="mat-menu-button" (click)="openAddDialog()">+ Thêm địa chỉ</button>
                </div>
            </div>
            <div class="cart-payment" fxLayout="column">
                <div class="cart-payment-title" fxLayoutAlign="start center">
                    <h3>Thanh toán</h3>
                </div>
                <div class="payment" fxLayout="row">
                    <p>Tống giá gốc</p>
                    <p>4.990.000 đ</p>
                </div>
                <div class="payment" fxLayout="row">
                    <p>Số tiền khuyến mãi</p>
                    <p>990.000 đ</p>
                </div>
                <div class="payment" fxLayout="row">
                    <p>Quà tặng</p>
                    <p>1</p>
                </div>
                <div class="payment" fxLayout="row">
                    <p>Thành tiền</p>
                    <p class="cost">4.990.000 đ</p>
                </div>
                <div class="button-container">
                    <button mat-flat-button color="primary" routerLinkActive="active"  class="mat-menu-button">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>