.t-btn-search {
    background-color: #ce7a58;
    color: white;
    margin-top: 0.3em;
    height: 3.6em !important;
}

.t-btn-add {
    background-color: #e8e8e8;
    color: #666;
    float: right;
    margin-left: 0.5em;
    .mat-icon {
        color: #ce7a58;
    }
}

.t-btn-more {
    @extend .t-btn-add;
    .mat-icon {
        color: #666666 !important;
    }
}

.t-btn-close {
    float: right;
    top: -24px;
    right: -24px;
}

.t-btn-apply {
    margin-top: 1em;
    background-color: #ce7a58;
    color: #fff;
    height: 3em;
}

.t-btn-cancel {
    border: 1px solid #ce7a58;
    color: #ce7a58;
    margin: 1em 0.2em 0 0.2em;
}

.t-btn-download-form {
    padding: 0;
    color: #ce7a58;
    .mat-button-wrapper {
        display: flex;
        .download_icon {
            .mat-icon {
                vertical-align: middle;
                margin-right: 0.2em;
                background-color: #ce7a58;
                color: #fff;
                border-radius: 50%;
                padding: 0.2em;
                transform: scale(0.8);
            }
        }
        span {
            align-self: center;
        }
    }
}