<div class="footer" >
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="info" fxLayout="row"  fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around none" style="width: 80%; padding: 20px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.1);">
            <div class="introduce" fxFlex="35">
                <img src="" alt="" height="70">
                <h2>GIỚI THIỆU</h2>
                Với tôn chỉ tận tâm với khách hàng, Luna Bakery luôn lắng nghe và hoàn thiện để cho ra sản phẩm tốt nhất. 
                Chất lượng tuyệt vời cùng sự đa dạng về chủng loại hứa hẹn sẽ thõa mãn ngay cả những thực khách khó tính nhất.
            </div>
            <div class="contact" fxFlex="25">
                <h2>THÔNG TIN LIÊN HỆ</h2>
                <ul>
                    <li><mat-icon>location_on</mat-icon>Địa chỉ: Đường 3/2 - phường Xuân Khánh - quận Ninh Kiều - tp. Cần Thơ</li>
                    <li><mat-icon>call</mat-icon> Điện thoại: 0378.367.310</li>
                    <li><mat-icon>fax</mat-icon> Fax: 0243.385.5588</li>
                    <li><mat-icon>mail</mat-icon> Email: vnptit@vnpt.vn</li>
                </ul>
            </div>
            
            <div class="link" fxFlex="20">
                <h2>LIÊN KẾT</h2>
                <ul>
                    <li><a href="#">Tin tức và khuyến mãi</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                    <li><a href="#">Khiếu nại và góp ý</a></li>
                </ul>
            </div>
            <div class="social" fxLayout="column" fxLayoutAlign="center center" xFlex="20"> 
                <h2>KẾT NỐI</h2>
                <ul>
                    <a href="https://www.facebook.com/VNPTIT"><li><img src="../../../../assets/img/logo-Facebook.png" alt=""></li></a>
                    <a href="https://www.facebook.com/VNPTIT"><li><img src="../../../../assets/img/logo-Youtube.png" alt=""></li></a>
                    <a href="https://www.facebook.com/VNPTIT"><li><img src="../../../../assets/img/logo-Twitter.png" alt=""></li></a>
                </ul>
            </div>
        </div>
        <div class="copyright" fxLayout="row" fxLayoutAlign="center center" style="width: 100%; padding: 20px 0;">
            Copyright @2022 by Luna Bakery
            <img src="" alt="" height="16px">
        </div>
    </div>
</div>
