<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container" fxLayout="column" fxLayoutAlign=" center start">
    <div class="beadscrum">
        <a href="/">Trang chủ</a>
        <p>/</p>
        <a href="/products"> Giỏ hàng </a>
        <p>/ </p>
        <a href="/products/product-detail">Điện thoại abcxyz</a>
    </div>
    <div class="product-detail-container" fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
        
    </div>
</div>