<div class="top-banner" fxLayout="row" fxLayoutAlign="center center">
    <img src="../../../../assets/img/top_banner.webp" alt="">
</div>

<div class="header-menu" fxLayout="row" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button>
        <mat-icon class="icon">loyalty</mat-icon>
        <span>Khuyến mãi</span>
    </button>
    <button mat-button>
        <mat-icon class="icon">loyalty</mat-icon>
        <span>Hệ thống cửa hàng</span>
    </button>
    <button mat-button>
        <mat-icon class="icon">loyalty</mat-icon>
        <span>Tư vấn mua hàng: 1800 4321</span>
    </button>
    <button mat-button>
        <mat-icon class="icon">loyalty</mat-icon>
        <span>CSKH: 1800 1234</span>
    </button>
    <button mat-button routerLink="/admin">
        <mat-icon class="icon">loyalty</mat-icon>
        <span>Trang admin</span>
    </button>
    <button mat-button (click)="onLogout()">
        <mat-icon class="icon">loyalty</mat-icon>
        <span>Đăng xuất</span>
    </button>
</div>