<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="order-detail-container">
    <div class="order-detail-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <span class="material-symbols-outlined button">
                arrow_back_ios_new
            </span>
            <span class="breadscrum">ĐƠN HÀNG: 123221123</span>
        </div>
        <div>
            <button *ngIf="!true" mat-flat-button color="warn">Hủy đơn</button>
            <button *ngIf="!true" mat-stroked-button color="warn" class="stroked-warn">Đã hủy</button>
            <button *ngIf="!true" mat-flat-button color="primary">Hoàn thành</button>
            <button *ngIf="true" mat-stroked-button color="primary" class="stroked-primary">Đã hoàn thành</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="info" fxFlex="49">
           <h3 class="title">Thông tin người nhận</h3>
           <p class="text-line">
                Người nhận: <span class="text">Nguyễn Minh Luân</span>
           </p>
           <p class="text-line">
                Điện thoại: <span class="text">0378367310</span>
           </p>
           <p class="text-line">
                Email: <span class="text">abcdef@gmail.com</span>
           </p>
           <p class="text-line">
                Địa chỉ: <span class="text">VNPT IT Tiền Giang (Trường Bưu Điện 3 cũ), Xã Tân Mỹ Chánh, Thành phố Mỹ Tho, Tỉnh Tiền Giang</span>
           </p>
        </div>
        <div class="info" fxFlex="49"  fxFlexAlign="stretch">
            <h3 class="title">Thông tin đơn hàng</h3>
            <p class="text-line">
                Trạng thái: <span class="chip chip-blue">Vừa đặt hàng</span>
            </p>
            <p class="text-line">
                Thời gian đặt hàng: <span class="text">19:12:55 14/08/2022</span>
            </p>
            <p class="text-line">
                Số tiền thanh toán: <span class="text">4.990.000 đ</span>
            </p>
            <p class="text-line">
                Hình thức thanh toán: <span class="text">Thanh toán khi nhận hàng</span>
            </p>
            <p class="text-line">
                <span class="text detail">Xem chi tiết >></span>
            </p>
        </div>
    </div>
    <div class="info">
        <h3 class="title">Danh sách sản phẩm</h3>
        <div class="product-line" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="product-info" fxLayout="row">
                <img src="../../../../../assets/img/Product/phone-1-a.webp" alt="">
                <div class="info-container">
                    <p class="text-4">
                        Màn hình LCD PHILIPS 242M8 (1920 x 1080/IPS/144Hz/1 ms/FreeSync)
                    </p>
                    <p class="text-2">
                        SKU: 2202221332
                    </p>
                    <p class="text-2">
                        Phân loại: Sản phẩm bán
                    </p>
                </div>
            </div>
            <div class="info-container text-right" fxLayout="column">
                <p class="text-1">
                    399.000 đ
                </p>
                <p class="text-3">
                    589.000 đ
                </p>
                <p class="text-2">
                    x1
                </p>
            </div>
        </div>
        <mat-divider class="product-divider"></mat-divider>
        <div class="product-line" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="product-info" fxLayout="row">
                <img src="../../../../../assets/img/Product/phone-1-a.webp" alt="">
                <div class="info-container">
                    <p class="text-4">
                        Màn hình LCD PHILIPS 242M8 (1920 x 1080/IPS/144Hz/1 ms/FreeSync)
                    </p>
                    <p class="text-2">
                        SKU: 2202221332
                    </p>
                    <p class="text-2">
                        Phân loại: <span class="type">Sản phẩm bán</span>
                    </p>
                </div>
            </div>
            <div class="info-container text-right" fxLayout="column">
                <p class="text-1">
                    399.000 đ
                </p>
                <p class="text-3">
                    589.000 đ
                </p>
                <p class="text-2">
                    x1
                </p>
            </div>
        </div>
     </div>
     <div class="info" fxLayout="row" fxLayoutAlign="end center">
        <div class="product-line" fxFlex="35">
            <p class="info-container" fxLayoutAlign="space-between center">
                <span class="text-2">Tổng tiền sản phẩm</span>
                <span class="text-1">990.000 đ</span>
            </p>
            <p class="info-container" fxLayoutAlign="space-between center">
                <span class="text-2">Phí vận chuyển</span>
                <span class="text-1">10.000 đ</span>
            </p>
            <p class="info-container" fxLayoutAlign="space-between center">
                <span class="text-2">Giảm giá</span>
                <span class="text-1">90.000 đ</span>
            </p>
            <p class="info-container" fxLayoutAlign="space-between center">
                <span class="text-2">Thành tiền</span>
                <span class="text-1 text-5">990.000 đ</span>
            </p>
            <p class="info-container" fxLayoutAlign="space-between center">
                <span></span>
                <span class="text-2">(Đã bao gồm VAT)</span>
            </p>
        </div>
     </div>
</div>